In [38]:
import json
import pandas as pd

In [39]:
path = '/Users/pippreaw/Documents/Planner_Intent_ML/Planner_Intent_ML/data/user_intention.json'

In [40]:
# Load the JSON file
with open(path, 'r', encoding='utf-8') as f:
    data = json.load(f)

In [41]:
df = pd.json_normalize(data, record_path=['user_queries'], meta=['intent', 'intent_category'])
print(df.head())

                                               query  \
0                  What cities can I visit in Japan?
1             What are the must-see cities in Japan?
2         How many days should I spend in each city?
3  What's the best travel route for visiting mult...
4      What is the best time of year to visit Japan?

                                    possible_answers  intent intent_category
0  [Tokyo, Kyoto, Osaka, Hiroshima, Fukuoka, Sapp...  Search      SearchCity
1  [Must-see cities include Tokyo, Kyoto, Osaka, ...  Search      SearchCity
2  [Typically, spend 2-4 days in major cities lik...  Search      SearchCity
3  [A common route is Tokyo → Kyoto → Osaka → Hir...  Search      SearchCity
4  [The best times are spring (March to May) for ...  Search      SearchCity

In [42]:
df.describe()

,query,possible_answers,intent,intent_category
count,99,99,99,99
unique,97,98,4,14
top,What are the options for airport transfers?,"[Airport limousines, shuttle buses, and trains...",Search,SearchCity
freq,2,2,45,13

In [49]:
df.head()

,query,possible_answers,intent,intent_category
0,What cities can I visit in Japan?,"[Tokyo, Kyoto, Osaka, Hiroshima, Fukuoka, Sapp...",Search,SearchCity
1,What are the must-see cities in Japan?,"[Must-see cities include Tokyo, Kyoto, Osaka, ...",Search,SearchCity
2,How many days should I spend in each city?,"[Typically, spend 2-4 days in major cities lik...",Search,SearchCity
3,What's the best travel route for visiting mult...,[A common route is Tokyo → Kyoto → Osaka → Hir...,Search,SearchCity
4,What is the best time of year to visit Japan?,[The best times are spring (March to May) for ...,Search,SearchCity

In [45]:
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
#Null values

null= df.isnull().sum().sort_values(ascending=False)
total =df.shape[0]
percent_missing= (df.isnull().sum()/total).sort_values(ascending=False)

missing_data= pd.concat([null, percent_missing], axis=1, keys=['Total missing', 'Percent missing'])

missing_data.reset_index(inplace=True)
missing_data= missing_data.rename(columns= { "index": " column name"})

print ("Null Values in each column:\n", missing_data)

Null Values in each column:
         column name  Total missing  Percent missing
0             query              0              0.0
1  possible_answers              0              0.0
2            intent              0              0.0
3   intent_category              0              0.0

In [50]:
# Prepare data
intent_labels = df['intent_category'].tolist()
queries = df['cleaned_query'].tolist()

KeyError: 'cleaned_query'

In [ ]:
# Word frequencies
word_counts = Counter(all_words)

# 10 most common words
common_words = word_counts.most_common(10)

print("Most common words after stop word removal:")
for word, count in common_words:
    print(f"{word}: {count}")